@media screen and (max-width:650px){

.links a{
    display: none;
}

.menu-button{
    display: block;
}

.logo2{ 
    
    display: none;

}


}

@media screen and(min-width:651px){

    .menu-button{

        display:none;
    }

    .logo2{ 
    
        display: none;
    
    }
}

@media screen and (max-width: 460px){

    .logo{
        display: none;
    }

    .logo2{
        display: block;
        margin-right: 20px;
    }
}

@media screen and (max-width: 1080px){

    .banner{
        display: none;
    }
    
    .banner2{
       display: block;
    }

    .title-media{
        display: none;
    }

    .infomedia{
        position: absolute;
        left: 300px;
        width: 100%;
    }
   .sinopse{
       width: 100%;
   }
}

@media screen and (min-width: 1080px){
    
    .banner2{
       display: none;
    }

    .responsive-title{
        display: none;
    }
    
}

@media screen and (max-width: 500px){

    .carousel{
       transform: translateY(260px);
    }

    .sinopse{
        
        display: none;
    }
    
}