
$navIconsSize: 20px;

$bgColor: #141414;

$navLinksSize:15px;

$fontPoppins:'Poppins', sans-serif;

$fontRoboto:'Roboto', sans-serif;

$fontColor: #D8D8D8;

$posterWidth: 140px;

$posterHeight: 200px;

$buttonsIcons: 20px;

$bgButtons: #494949;

$bannerWidth: 1015px;

$bannerHeight: 630px;

$mediaNameWidth:440px;

$mediaNameHeight: 275px;