@import './variables', './functions', './mediaquery';

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{ 
    height: auto;
    width: 100%;
    overflow-x: hidden;
    background-color: $bgColor;
}

/* barra de navegacao */

.navbar{
    padding: 10px;    
    width: 100%;
    height: 50px;
    background-color: $bgColor;
    @include flexbox(row, space-between);
    
    .nav-links{
        display: flex;
        align-items: center;
        .links {        
            display: flex;  
            gap:20px;          
            a{
            transition: ease;
            text-decoration: none;
            font-size: $navLinksSize;
            font-family: $fontRoboto;
            color: $fontColor;          
            &:hover{
            color:white;
            }
        }
    }

    .logo{
        width: 115px;
        height: 60px;
        margin: 0 10px;
       
        &:hover{
            cursor: pointer;
        }
    }

    .logo-mobile{
        width: 20px;
        height: 25px;
       cursor: pointer;
    }
    }

    .nav-icons {      
        display: flex;
        align-items: center;
        color: $fontColor;
        font-family: $fontRoboto;
        font-size:$navLinksSize;
        gap: 20px;

        img{
        width: $navIconsSize;
        height: $navIconsSize;
        cursor: pointer;      
    }

    .menu-list{
        @include flexbox(column, space-between);
        display: none;
        position: absolute;
        right: 0px;
        top: 48px;
        background-color: $bgColor;
        padding: 10px 30px;
        box-shadow: 1px 13px 17px -12px #000000;
        li{
         list-style: none;
         line-height: 40px;
        a{
        text-decoration: none;
        font-size: $navLinksSize;
        font-family: $fontPoppins;
        color: $fontColor;
        &:hover{
            color: white;
        }
        }  
        }  
    }

    .menu-button{
        border: 0;
        outline: none;
        background-color: transparent;       
    }

    .show{
        display: flex !important;
    }
}     
}

/* banner */

.content{

.banner{
    height: auto;
    width: 100%;
    background-image: linear-gradient(to right, #141414 8%, transparent 20%), url(../img/banner.jpg);
    background-position-x: 350px;
    background-position-y:center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-template-columns: 1fr 2fr;
    display: grid;
    padding: 20px 40px;
    min-height: calc(100vh - 40px);
}

@media (max-width:1080px){
    .banner{
        background-image: linear-gradient(to top, #141414 10%, transparent 100%), url(../img/banner.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        grid-template-columns: 1fr;
        padding: 10px;
    }
    .sinopse{
        max-width: 80%;
    }
}

.infomedia{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 10px;

    .title{
        font-family: $fontPoppins;
        color: $fontColor;
        font-size: 22px;
    }

    .responsive-title{
        font-family: $fontPoppins;
        color: white;
        font-size: 30px;
    }

    img{
        width: 470px;
        height: 280px;
    }

    .extra{
        @include flexbox(row, space-between);
        gap: 10px;
        p{
            font-family: $fontRoboto;
            font-size: 15px;
            color: $fontColor;      
        }

        img{
            width: 40px;
            height: 40px;
        }

        .feedback{

            img{
                width: 20px;
                height: 20px;              
            }
        }
    }

    .sinopse{
        font-size: 15px;
        font-family: $fontRoboto;
        color: $fontColor;
        line-height: 1.5;
        margin: 10px 0;
    }

    .buttons {
        
        display: flex;
        gap: 20px;
        button{
            display:flex;
            align-items: center;
            padding: 10px 20px;
            font-size: 15px;
            font-family: $fontRoboto;
            color: $fontColor;
            background-color: #494949;
            border: none;
            outline: none;
            border-radius: 5px;           
            transition: 0.2s ease;
            cursor: pointer;
            &:hover{
                background-color: #353535;
            }
            img{
                width: 22px;
                height: 22px;
                margin-right: 10px;
            }
            
        }
    }
}

}

/* carousel */

.carousel{
height: auto;
 width: 100%;
 padding: 10px 20px;
 h3{
    font-family: $fontRoboto;
    color: white;
    font-size: 22px;
    margin-bottom: 20px;
    margin-left: 20px;
 }
    
 .label{
    margin-bottom: 20px;
    transition: 0.3s ease;
    &:hover{
        transform: scale(1.1);
    }
 }
    
}

/* footer */

footer{
    height: auto;
    width: 100%;
    background-color:$bgColor;
    padding: 30px;

    .social-media{
        @include flexbox(row, flex-start);
        margin: 30px 0;
        gap: 30px;
    }

    .infos {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        align-items: center;   
        margin: 30px 0;    
        a{
            font-size: $navLinksSize;
            font-family: $fontRoboto;
            color: #808080;     
            text-decoration: none;   
            display: block;
            &:hover{
                color:#fff;
            }
        } 
    }

    .copyright{
        font-size: 13px;
        font-family: $fontRoboto;
        color: #808080;   

    }

    @media (max-width: 1000px){
        .infos{
            grid-template-columns: repeat(3, 1fr);
        }
    }

    @media (max-width: 750px){
        .infos{
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media (max-width: 500px){
        .infos a{
           font-size: 12px;
        }
    }

}

@media screen and (max-width:650px){

    .links a{
        display: none;
    }
    
    .menu-button{
        display: block;
    }
    
    .logo-mobile{ 
        
        display: none;
    }
    }
    
    @media screen and(min-width:651px){
    
        .menu-button{
    
            display:none;
        }
    
        .logo-mobile{ 
        
            display: none;
        
        }
    }
    
    @media screen and (max-width: 460px){
    
        .logo{
            display: none;
        }
    
        .logo-mobile{
            display: block;
            margin-right: 20px;
        }
    }
    
    @media screen and (max-width: 1080px){
    
        .title-media{
            display: none;
        }
    
       .sinopse{
           width: 100%;
       }
    }
    
    @media screen and (min-width: 1080px){
    
        .responsive-title{
            display: none;
        }
        
    }
    
    @media screen and (max-width: 500px){
    
        .sinopse{
            
            display: none;
        }
        
    }
    
    




